@model IEnumerable<CRUD_application_2.Models.User>

@{
    ViewBag.Title = "User Search";
}

<h2>User Search</h2>

<p>
    @using (Html.BeginForm("Search", "User"))
    {
    <p>
        Name: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Search" />
    </p>
}
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }

    </table>


